h1 {
  font-family: Lato;
  margin-left: 5px;
  color: #ffffff;
}

* 
{
    margin: 0;
    padding: 0;
}

body 
{
    background: #3f0249;
    font-size: 21px;
}

.font 
{
    font-family:-webkit-pictograph;
}

.fa-address-book 
{
    font-size: 10em;
}

.R
{
    margin-top: 25px;
}

.Form
{
  
}
.inp1 input, .inp2 input, .inp3 input 
{
    padding: 5px;
    margin: 20px;
    border: 1px #000000 solid;
    border-radius: 3px; 
    font-family: -webkit-pictograph;
}